[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.lab-2
Exec=/usr/bin/ru.auroraos.lab-2
Name=Template
Name[ru]=Шаблон

[X-Application]
Permissions=
OrganizationName=ru.auroraos
ApplicationName=lab-2
ExecDBus=/usr/bin/ru.auroraos.lab-2
