[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.lab-3
Exec=/usr/bin/ru.auroraos.lab-3
Name=Template
Name[ru]=Шаблон

[X-Application]
Permissions=
OrganizationName=ru.auroraos
ApplicationName=lab-3
ExecDBus=/usr/bin/ru.auroraos.lab-3
